:root {
    --color-neutral-000: #ffffff;
    --color-neutral-100: #808080;
    --color-neutral-200: hsla(0,0%,100%,0.15);
    --color-neutral-900: #1e1e1e;
    --color-primary: #30a08b;
    --color-secondary: #186e5e;
    --color-font-light: var(--color-neutral-000);
    --color-font-dark: var(--color-neutral-900);

    --font-family: 'Exo', sans-serif;;
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* HTML */
body {
    font-family: var(--font-family);
    color: var(--color-font-light);
    background-color: var(--color-neutral-900);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* CSS Framework */
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: end;
}

.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.d-none {
    display: none;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: end;
}

.h-100 {
    height: 100%;
}

.my-6 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.mt-6 {
    margin-top: 5rem;
}
.mr-6 {
    margin-right: 5rem;
}

.pt-5 {
    padding-top: 3rem;
}
.pt-6 {
    padding-top: 5rem;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pb-4 {
    padding-bottom: 1.5rem;
}
.pl-6 {
    padding-left: 5rem;
}

.w-100 {
    width: 100%;
}

/* Components */
.button-primary {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    width: 10rem;
    height: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-font-light);
    background-color: var(--color-primary);
    text-transform: uppercase;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button-primary:hover {
    background-color: var(--color-secondary);
}


/* Header */
.header {
    position: fixed;
    background-color: var(--color-neutral-900);
    z-index: 20;
}

.header-container {
    padding-left: 5rem;
    height: 5rem;
}

.header-logo-img {
    height: 1.5rem;
}

.header-border {
    position: absolute;
    height: 1px;
    top: 100%;
    left: 5rem;
    right: 5rem;
    background: var(--color-neutral-200);
}

@media screen and (max-width: 540px) {
    .header {
        z-index: 50;
    }
    .header-container {
        padding-left: 1.25rem;
    }
    .header-border {
        left: 0;
        right: 0;
    }
}


/* Nav */
.nav-hamburger-area {
    height: 5rem;
    z-index: 50;
}

.nav-hamburger-button {
    padding: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    box-sizing: content-box;
}

.nav-hamburger {
    position: fixed;
    border-radius: 1px;
    width: 26px;
    height: 2px;
    background-color: var(--color-neutral-000);
    transition: all .3s ease-in-out;
}
.nav-hamburger::before, .nav-hamburger::after {
    content: "";
    position: absolute;
    border-radius: 1px;
    height: 2px;
    background-color: var(--color-neutral-000);
    transition: all .3s ease-in-out;
}
.nav-hamburger::before {
    width: 30px;
    transform: translateY(-7px);
}
.nav-hamburger::after {
    width: 18px;
    transform: translateY(7px);
}
.nav-hamburger-button.open .nav-hamburger {
    background-color: transparent;
}
.nav-hamburger-button.open .nav-hamburger::before {
    width: 22px;
    transform: rotate(45deg);
}
.nav-hamburger-button.open .nav-hamburger::after {
    width: 22px;
    transform: rotate(-45deg);
}

@media screen and (max-width: 540px) {
    .nav-hamburger-area {
        justify-content: end;
    }
    .nav-hamburger-button {
        margin-right: 1.25rem;
    }
}


/* Sidenav */
.sidenav {
    position: relative;
    z-index: 0;
}

.sidenav-overlay {
    position: fixed;
    width: 0%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(20px);
    opacity: 0;
    transition: all .6s ease-in-out;
    z-index: 30;
}

.sidenav-active {
    z-index: 40;
}
.sidenav-active .sidenav-overlay {
    opacity: 1;
    width: 100%;
}

.sidenav-logo {
    padding-left: 5rem;
    height: 5rem;
}

.sidenav-logo-img {
    height: 1.5rem;
}

.sidenav-content-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--color-neutral-200);
    width: 50%;
    min-height: 100%;
    top: 0;
    right: 0;
    background-color: var(--color-neutral-900);
    transform: translate(100%, 0);
    transition: all .6s ease-in-out;
    z-index: 30;
}
.sidenav-content-container.active {
    transform: translate(0, 0);
}

.sidenav-content {
    padding-top: 25%;
}

.sidenav-list-item {
    margin: 0 5rem;
    border-bottom: 1px solid var(--color-neutral-200);
}

.sidenav-list-link {
    padding-left: 5rem;
    height: 4.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-font-light);
    text-transform: uppercase;
    opacity: 0.5;
    transition: 0.3s;
}
.sidenav-list-link:hover {
    opacity: 1;
}

.sidenav-footer {
    margin-top: auto;
    border-top: 1px solid var(--color-neutral-200);
    padding: 1.5rem 5rem;
}

.sidenav-footer-text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-font-light);
}

.sidenav-footer-icons {
    margin-left: 1.25rem;
}

.sidenav-footer-item {
    padding-inline: 1.25rem;
}

.sidenav-footer-link {
    opacity: 0.5;
    transition: 0.2s;
}
.sidenav-footer-link:hover {
    opacity: 1;
}

.sidenav-footer-icon-img {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 540px) {
    .sidenav-content-container {
        border-left: none;
        width: 100%;
    }
    .sidenav-content {
        padding-top: 35%;
    }
    .sidenav-list-link {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .sidenav-footer-item {
        padding-inline: 0.75rem;
    }
}


/* Home */
.index-container {
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 1fr;
}

.index-bg {
    height: 100vh;
    background-image: url(lines.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 52.5%;
}

.index-left {
    border-right: 1px solid var(--color-neutral-200);
}
.index-right {
    position: relative;
    border-left: 1px solid var(--color-neutral-200);
    z-index: 50;
}

.index-main-center {
    grid-template-rows: 1fr 10rem;
}

.index-main {
    padding-inline: 5rem;
}

.index-main-content {
    flex-direction: row;
    padding-top: 5rem;
}

.index-main-content-left {
    padding-left: 2.5rem;
    width: 50%;
    height: 67.5%;
}
.index-main-content-right {
    position: relative;
    margin-bottom: 7.5rem;
    width: 50%;
}

.index-main-buttons {
    position: relative;
    flex-direction: row;
    z-index: 2;
}

.index-main-button {
    margin-left: 2.5rem;
}

.index-img-container {
    position: absolute;
}

.index-img {
    mask-image: url("/img/img-mask.svg");
    -webkit-mask-image: url("/img/img-mask.svg");
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    object-fit: cover;
    height: 50vh;
}

.index-titles {
    width: 60%;
}

.index-main-title {
    font-size: 2.75rem;
    font-weight: 600;
    color: var(--color-font-light);
    text-transform: uppercase;
    line-height: 1;
}
.index-main-title-sm {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-neutral-100);
    text-transform: uppercase;
}

.index-line {
    position: absolute;
    width: 1px;
    height: 4rem;
    background: var(--color-neutral-200)
}

.index-content {
    padding-inline: 5rem;
}

.index-content-title-container {
    padding-bottom: 2rem;
}

.index-content-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-font-light);
    text-transform: uppercase;
}

.index-content-boxes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.index-content-box {
    position: relative;
    border: 1px solid var(--color-neutral-200);
    height: 12.5em;
    transition: 0.3s;
}
.index-content-box:hover {
    border: 1px solid var(--color-primary);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
}

.index-content-box-wrapper{
    cursor: pointer;
}

.index-content-box-img {
    width: 2rem;
    height: 2rem;
}

.index-content-box-title {
    padding-left: 0.5rem;
    color: var(--color-neutral-000);
}

.icbt-01 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.icbt-02 {
    font-size: 1.35rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.icbt-03 {
    font-size: 2rem;
    font-family: 'Silkscreen', sans-serif;
}

.index-content-box-date {
    margin-top: -4rem;
    padding: 1rem;
}

.index-content-box-date-txt {
    border: 1px solid var(--color-neutral-200);
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-font-light);
}

.index-content-button {
    justify-content: center;
}


@media screen and (max-width: 540px) {
    .index-container {
        grid-template-columns: 0 1fr 0;
    }
    .index-bg {
        background-image: none;
    }
    .index-left {
        border-right: none;
    }
    .index-center {
        grid-template-rows: 1fr 0;
        padding-inline: 1.25rem;
    }
    .index-right {
        border-left: none;
    }
    .index-main {
        padding-inline: 0;
    }
    .index-main-content {
        flex-direction: column;
        padding-top: 0;
    }
    .index-main-content-bottom {
        display: none;
    }
    .index-main-content-left {
        padding-left: 0;
        width: 100%;
    }
    .index-main-content-right {
        margin-bottom: 0;
        width: 100%;
    }
    .index-main-buttons {
        justify-content: center;
        gap: 1.25rem;
    }
    .index-main-button {
        margin-left: 0;
    }
    .index-img {
        padding-right: 1.25rem;
        mask-position: top;
        -webkit-mask-position: top;
    }
    .index-titles {
        margin-top: 2rem;
        border-bottom: 2px solid var(--color-neutral-000);
        padding-block: 2rem;
        width: 100%;
    }
    .index-main-title {
        font-size: 1.75rem;
    }
    .index-main-title-sm {
        font-size: 1.25rem;
    }
    .index-content {
        padding-inline: 1.25rem;
    }
    .index-content-title-container {
        display: flex;
        justify-content: center;
    }
    .index-content-boxes {
        grid-template-columns: 1fr;
    }
}