:root {
  --color-neutral-000: #ffffff;
  --color-neutral-100: #808080;
  --color-neutral-200: hsla(0,0%,100%,0.15);
  --color-neutral-800: #1e1e1e;
  --color-neutral-900: #151515;
  --color-primary: #30a08b;
  --color-secondary: #186e5e;
  --color-gradient: linear-gradient(270deg, rgba(31,31,31,1) 0%, rgba(21,21,21,1) 100%);
  --color-red: #c1272d;
  --color-orange: #f7931e;
  --color-green: green;
  --color-font-light: var(--color-neutral-000);
  --color-font-dark: var(--color-neutral-900);

  --font-family: 'Exo', sans-serif;
  --font-family-01: 'Quicksand', sans-serif;
  --font-family-02: 'Truculenta', sans-serif;;
  --font-family-03: 'Silkscreen', sans-serif;
  --font-family-04: 'Raleway', sans-serif;
  --font-family-05: 'Montserrat', sans-serif;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* HTML */
body {
  height: 100%;
  font-family: var(--font-family);
  color: var(--color-font-light);
  /* background: url("/img/backgrounds/background_1F1F1F_151515.jpg"); */
  background-size: cover;
  background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(12,12,12,1) 100%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* CSS Framework */
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}
.align-items-start {
  align-items: start;
}

.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}

.flex-direction-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}
.h-fixed {
  height: 100vh;
}
.h-fixed-xl {
  height: 100vh;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pt-6 {
  padding-top: 5rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.pb-5 {
  padding-bottom: 3rem;
}
.pb-6 {
  padding-bottom: 5rem;
}
.pb-7 {
  padding-bottom: 8rem;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .h-fixed-xl {
    height: unset;
  }
}


/* Components */
.button-primary {
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  width: 10rem;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-font-light);
  background-color: var(--color-primary);
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button-primary:hover {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 360px) {
  .button-primary {
    width: 8rem;
  }
}
@media screen and (max-width: 320px) {
  .button-primary {
    width: 6rem;
    font-size: 0.75rem;
  }
}

/* Navigation */
.header {
  position: fixed;
  z-index: 100;
}

.header_container {
  padding-inline: 4rem;
  height: 5rem;
}

.header-logo_img {
  height: 1.5rem;
}

.header-hamburger-area {
  position: relative;
  z-index: 200;
}

.header-hamburger_button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-hamburger {
  border-radius: 1px;
  width: 30px;
  height: 2px;
  background-color: var(--color-neutral-000);
  transition: all .3s ease-in-out;
}
.header-hamburger::before, .header-hamburger::after {
  content: "";
  position: absolute;
  border-radius: 1px;
  width: 30px;
  height: 2px;
  background-color: var(--color-neutral-000);
  transition: all .3s ease-in-out;
}
.header-hamburger::before {
  transform: translateY(-9px);
}
.header-hamburger::after {
  transform: translateY(9px);
}
.header-hamburger_button.open .header-hamburger {
  background-color: transparent;
}
.header-hamburger_button.open .header-hamburger::before {
  width: 22px;
  transform: rotate(45deg);
}
.header-hamburger_button.open .header-hamburger::after {
  width: 22px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 960px) {
  .header {
    background-color: rgb(0, 0, 0, 0.7)
  }
}
@media screen and (max-width: 540px) {
  .header_container {
    padding-inline: 1.25rem;
  }
}

/* Sidenav */
.sidenav {
  position: relative;
  z-index: 0;
}

.sidenav-overlay {
  position: fixed;
  width: 0%;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(20px);
  opacity: 0;
  transition: all .6s ease-in-out;
  z-index: 20;
}

.sidenav-active {
  z-index: 80;
}
.sidenav-active .sidenav-overlay {
  opacity: 1;
  width: 100%;
}

.sidenav-logo {
  padding-left: 4rem;
  height: 5rem;
}

.sidenav-logo-img {
  height: 1.5rem;
}

.sidenav-content-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-neutral-200);
  width: 50%;
  min-height: 100%;
  top: 0;
  right: 0;
  background-color: var(--color-neutral-900);
  transform: translate(100%, 0);
  transition: all .6s ease-in-out;
  z-index: 80;
}
.sidenav-content-container.active {
  transform: translate(0, 0);
}

.sidenav-content {
  padding-top: 25%;
}

.sidenav-list-item {
  margin: 0 5rem;
  border-bottom: 1px solid var(--color-neutral-200);
}

.sidenav-list-link {
  padding-left: 5rem;
  height: 4.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-font-light);
  text-transform: uppercase;
  opacity: 0.5;
  transition: 0.3s;
}
.sidenav-list-link:hover {
  opacity: 1;
}

.sidenav-footer {
  margin-top: auto;
  border-top: 1px solid var(--color-neutral-200);
  padding: 1.5rem 5rem;
}

.sidenav-footer-text {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-font-light);
}

.sidenav-footer-icons {
  margin-left: 1.25rem;
}

.sidenav-footer-item {
  padding-inline: 1.25rem;
}

.sidenav-footer-link {
  opacity: 0.5;
  transition: 0.2s;
}
.sidenav-footer-link:hover {
  opacity: 1;
}

.sidenav-footer-icon-img {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 840px) {
  .sidenav-footer-item {
    padding-inline: 0.75rem;
  }
}
@media screen and (max-width: 540px) {
  .sidenav-logo {
    padding-left: 1.25rem;
  }
  .sidenav-content-container {
    border-left: none;
    width: 100%;
  }
  .sidenav-content {
    padding-top: 35%;
  }
  .sidenav-list-link {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .sidenav-footer {
    justify-content: center;
  }
  .sidenav-footer-item {
    padding-inline: 0.75rem;
  }
}
@media screen and (max-width: 540px) {
  .sidenav-footer {
    padding: 1.5rem 3rem;
  }
  .sidenav-footer-icons {
    margin-left: 1rem;
  }
  .sidenav-footer-item {
    padding: 0.5rem;
  }
}


/* Content List */
.content-list {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  padding: 0 2.5rem;
  width: 80%;
}

.content-list_box-wrapper {
  position: relative;
}

.content-list_box-container {
  /* border: 1px solid var(--color-neutral-200); */
  width: 100%;
  height: 12.5rem;
  background-color: var(--color-neutral-900);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  transition: 0.3s;
}
.content-list_box-container:hover {
  border: 1px solid var(--color-primary);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
  box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
}

.content-list_icon {
  width: 2rem;
  height: 2rem;
}

.content-list_txt-container {
  margin-top: -4rem;
  padding: 1rem;
}

.content-list_title {
  padding-left: 0.5rem;
  color: var(--color-font-light);
}

.clt-01 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-family-05);
}
.clt-02 {
  font-size: 1.35rem;
  font-weight: 500;
  font-family: var(--font-family-04);
}
.clt-03 {
  font-size: 2rem;
  font-family: var(--font-family-03);
}
.clt-04 {
  font-size: 2.25rem;
  font-weight: 300;
  font-family: var(--font-family-01);
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}
.cli {
  width: 10rem;
}

.content-list_txt {
  border: 1px solid var(--color-neutral-200);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-font-light);
}

.content-list_number {
  position: absolute;
  bottom: 3rem;
  right: -2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-font-light);
  transform: rotate(270deg);
  transform-origin: bottom right;
}

@media screen and (max-width: 1440px) {
  .content-list_container {
    align-items: unset;
  }
  .content-list {
    padding: 7.5rem 2rem;
    width: 90%;
  }
}
@media screen and (max-width: 1220px) {
  .content-list {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}
@media screen and (max-width: 840px) {
  .content-list_container {
    display: block;
  }
  .content-list {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 10rem 1.25rem;
    width: 100%;
  }
  .content-list_number {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .clt-01, .clt-02, .clt-03, .clt-04 {
    font-size: 1rem;
  }
}


/* Content */
.content-top {
  align-items: center;
  padding: 3rem 6.25rem 5rem 6.25rem;
  height: 100%;
}

.content-top_box-container {
  position: relative;
  padding: 2rem;
  width: 25vw;
  height: 45vh;
  background-color: var(--color-neutral-900);
  z-index: 10;
}

.content-top_box-border {
  border: 1px solid var(--color-neutral-000);
  padding: 3rem;
  height: 100%;
}
.content-top_box-border::before, .content-top_box-border::after {
  content: "";
  position: absolute;
  width: 67.5%;
  height: 67.5%;
  background-color: var(--color-neutral-900);
}
.content-top_box-border::before {
  top: 0;
  left: 0;
}
.content-top_box-border::after {
  bottom: 0;
  right: 0;
}

.content-top_box {
  position: relative;
  z-index: 1;
}

.content-top_title {
  font-size: 2.75rem;
  font-weight: 500;
  color: var(--color-font-light);
  text-transform: uppercase;
  line-height: 1;
}
.content-top_subtitle {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--color-neutral-100);
}

.content-top_txt-wrapper {
  margin-top: auto;
}

.content-top_txt {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-font-light);
}
.content-top_subtxt {
  margin-left: 0.5rem;
}

.content-top_circle {
  margin-inline: 0.425rem 0.25rem;
  border-radius: 10px;
  width: 8px;
  height: 8px;
}

.ctbg-online {
  background-color: var(--color-green);
}
.ctbg-offline {
  background-color: var(--color-red);
}
.ctbg-dev {
  background-color: var(--color-orange);
}
.ctclr-online {
  color: var(--color-green);
}
.ctclr-offline {
  color: var(--color-red);
}
.ctclr-dev {
  color: var(--color-orange);
}

.content-top_subtxt-container {
  padding-left: 2rem;
}

.content-top_link {
  border-bottom: 1px solid var(--color-font-light);
  font-size: 1.25rem;
  color: var(--color-font-light);
  transition: 0.2s;
}
.content-top_link:hover {
  opacity: 0.5;
}

.content-top_year {
  position: absolute;
  top: -32.5%;
  left: 57.5%;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-font-light);
}

.content-top_number {
  position: absolute;
  bottom: 3rem;
  right: -2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-font-light);
  transform: rotate(270deg);
  transform-origin: bottom right;
}

.content-top_background {
  position: relative;
}
.content-top_background::before, .content-top_background::after {
  content: "";
  position: absolute;
}
.content-top_background::before {
  width: 27.5vw;
  height: 30rem;
  bottom: -22.5rem;
  left: -15rem;
  border: 1px solid var(--color-neutral-200);
}
.content-top_background::after {
  width: 30vw;
  height: 35rem;
  bottom: -18.725rem;
  left: 3rem;
  background-color: var(--color-neutral-000);
  opacity: 0.3;
}

.content_hero-container {
  position: relative;
  margin-inline: 6vw 0;
  padding-top: 4rem;
  z-index: 5;
}

.content_hero-img {
  width: 67.5rem;
}

.content-center {
  padding: 7.5rem 10rem;
}

.content-center_img-container{
  margin-right: 10rem;
}

.content-center_img {
  width: 35rem;
}

.content-center_box-container {
  padding: 4rem 0;
}

.content-center_box {
  padding: 3rem;
  width: 27.5rem;
  height: 27.5rem;
  background-color: var(--color-neutral-900);
}

.content-center_title {
  border-bottom: 1px solid var(--color-font-light);
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-font-light);
}

.content-center_txt-container {
  margin-top: auto;
}

.content-center_txt {
  font-size: 0.975rem;
  font-weight: 400;
  color: var(--color-font-light);
}

.content-center_logo-container {
  margin: 10rem 0 15rem 0;
}

.content-center_logo {
  position: relative;
  padding-block: 3rem;
  width: 27.5rem;
  background-color: var(--color-neutral-900);
  z-index: 5;
}

.content-center_logo-img {
  width: 12.5rem;
}

.content-center_background {
  position: relative;
}
.content-center_background::before, .content-center_background::after {
  content: "";
  position: absolute;
  width: 27.5rem;
  height: 10rem;
}
.content-center_background::before {
  top: -4.5rem;
  left: 5rem;
  border: 1px solid var(--color-neutral-200);
}
.content-center_background::after {
  top: -7rem;
  left: -5rem;
  background-color: var(--color-neutral-000);
  opacity: 0.3;
}

.content-bottom_box-wrapper {
  padding: 5rem 0;
}

.content-bottom_box-container {
  padding: 2rem 5rem 3rem 5rem;
  width: 60%;
  background-color: var(--color-neutral-900);
}

.content-bottom_title-container {
  border-bottom: 1px solid var(--color-font-light);
  width: fit-content;
}

.content-bottom_title-img {
  width: 2rem;
  height: 2rem;
}

.content-bottom_title {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-font-light);
}

.content-bottom_box {
  display: flex;
  padding-block: 2.5rem;
}

.content-bottom_txt {
  padding: 0 2rem;
}

.content-bottom_txt-img {
  width: 2rem;
  height: 2rem;
}

.content-bottom_txt-sm {
  padding-top: 0.625rem;
  font-size: 0.75;
  font-weight: 400;
  color: var(--color-font-light);
}

@media screen and (max-width: 1660px) {
  .content-top {
    padding: 3rem 2rem 5rem 3rem;
  }
  .content-top_box-border {
    padding: 1rem 1.25rem;
  }
  .content-top_title {
    font-size: 2.5rem;
  }
  .content-top_subtitle {
    font-size: 1.25rem;
  }
  .content-top_txt, .content-top_link {
    font-size: 1rem;
  }
  .content-top_background::before, .content-top_background::after {
    width: 22.5rem;
    height: 22.5rem;
  }
  .content-top_background::before {
    top: -5rem;
  }
  .content-top_background::after {
    bottom: -14rem;
  }
  .content_hero-img {
    width: 57.5vw;
  }
}
@media screen and (max-width: 1440px) {
  .content-top {
    padding: 3rem 0 5rem 3rem;
  }
  .content-top_box-container {
    padding: 1.5rem;
  }
  .content-top_box-border {
    padding: 2rem;
  }
  .content-top_title {
    font-size: 2.5rem;
  }
  .content-top_year {
    top: -25%;
    left: 30%;
  }
  .content-top_background::before, .content-top_background::after {
    width: 22.5rem;
    height: 22.5rem;
  }
  .content-top_background::before {
    top: -5rem;
  }
  .content-top_background::after {
    bottom: -14rem;
  }
  .content-center {
    padding: 7.5rem 5rem;
  }
  .content-center_img-container {
    position: relative;
    margin-right: 2rem;
    z-index: 10;
  }
  .cbbc {
    margin: 0 5rem;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .content-top {
    padding: 3rem 0 5rem 3rem;
  }
}
@media screen and (max-width: 1040px) {
  .content-top_box-border {
    padding: 1rem;
  }
  .content-top_title {
    font-size: 2rem;
  }
  .content-top_subtitle {
    font-size: 1.125rem;
  }
  .content-top_txt, .content-top_link {
    font-size: 1rem;
  }
  .content-top_background::before, .content-top_background::after {
    width: 20rem;
    height: 20rem;
  }
  .content-top_background::before {
    top: -6rem;
    left: -10rem;
  }
  .content-top_background::after {
    bottom: -12rem;
    left: 2rem;
  }
  .content_hero-container {
    padding-top: 2rem;
  }
  .content_hero-img {
    width: 62.5vw;
  }
  .content-center {
    padding: 7.5rem 2.5rem;
  }
  .content-center_box-container {
    padding: 0;
  }
  .content-center_background::before {
    top: -5rem;
    left: 5%;
  }
  .content-center_background::after {
    top: -7rem; 
    left: -15%;
  }
  .content-center_logo-container {
    margin: 7.5rem 0 12.5rem 0;
  }
  .content-bottom_box-container {
    width: unset;
  }
  .cbb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 960px) {
  .content-top {
    align-items: unset;
    flex-direction: column-reverse;
    padding: 0;
  }
  .content-top_box-wrapper {
    align-items: center;
    margin: -40% auto 0 5rem;
  }
  .content-top_box-container {
    width: 25rem;
    height: 25rem;
  }
  .content-top_box-border {
    padding: 2rem;
  }
  .content-top_year {
    display: none;
    top: -12.5%;
    left: 5%;
    font-size: 1rem;
  }
  .content-top_background::before, .content-top_background::after {
    width: 25rem;
    height: 25rem;
    z-index: 8;
  }
  .content-top_background::before {
    bottom: -12rem;
    left: 15rem;
  }
  .content-top_background::after {
    bottom: -4rem;
    left: 10rem;
  }
  .content_hero-container {
    margin-inline: 0;
    padding-top: 0;
  }
  .content_hero {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .content_hero-img {
    width: 1920px;
    max-width: 1920px;
    height: 75vh;
    opacity: 0.625;
  }
}
@media screen and (max-width: 920px) {
  .content-top_background::before {
    top: -10rem;
  }
  .content-top_background::after {
    bottom: -6rem;
  }
  .content-center {
    justify-content: center;
    padding: 0;
  }
  .content-center_img-container {
    display: none;
  }
}
@media screen and (max-width: 840px) {
  .content-top_box-wrapper {
    align-items: unset;
  }
  .content-top_background::before {
    top: unset;
    bottom: -8rem;
  }
  .content-top_background::after {
    bottom: 0;
  }
  .content-bottom_box-container {
    padding: 2rem 5rem;
  }
  .content-bottom_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cbb-alt {
    grid-template-columns: 1fr 1fr;
  }
  .content-bottom_txt {
    padding: 0.75rem 2rem;
  }
}
@media screen and (max-width: 540px) {
  .content-top {
    height: unset;
  }
  .content-top_box-wrapper {
    margin: -40% 45% 0 2.5rem;
  }
  .content-top_box-container {
    padding: 1.25rem;
    width: 100%;
    height: 15rem;
  }
  .content-top_box-border {
    padding: 0.75rem;
  }
  .content-top_box-border::before, .content-top_box-border::after {
    width: 75%;
    height: 75%;
  }
  .content-top_title {
    font-size: 1.5rem;
  }
  .content-top_subtitle {
    font-size: 1rem;
  }
  .content-top_txt-wrapper {
    padding-bottom: 0.5rem;
  }
  .content-top_txt, .content-top_link {
    font-size: 0.875rem;
  }
  .content-top_subtxt {
    margin-left: 0.25rem;
  }
  .content-top_number {
    bottom: 1.75rem;
    right: -1.75rem;
    font-size: 1rem;
  }
  .content-top_background::before, .content-top_background::after {
    width: 15rem;
    height: 15rem;
    z-index: 8;
  }
  .content-top_background::before {
    top: -11rem;
    left: 8rem;
  }
  .content-top_background::after {
    bottom: 1rem;
    left: 6rem;
  }
  .content-center {
    padding: 5rem 0 0 0;
  }
  .content-center_img-container {
    display: none;
  }
  .content-center_box-container {
    padding: 0 1.25rem;
  }
  .content-center_box {
    padding: 2.5rem;
    width: 100%;
  }
  .content-center_title {
    font-size: 1.25rem;
  }
  .content-center_txt {
    font-size: 0.875rem;
  }
  .content-center_logo-container {
    margin: 5rem 0 8rem 0;
    padding-inline: 1.25rem;
    width: 100%;
  }
  .content-center_logo {
    padding-block: 2rem;
    width: 100%;
    height: 100%;
  }
  .content-center_logo-img {
    width: 10rem;
  }
  .content-center_background::before, .content-center_background::after {
    width: 100%;
    height: 6rem;
  }
  .content-center_background::before {
    top: -3rem;
    left: 5%;
  }
  .content-center_background::after {
    top: -5rem; 
    left: -5%;
  }
  .content-bottom_box-wrapper {
    padding: 5rem 1.25rem;
  }
  .content-bottom_box-container {
    padding: 1.5rem;
    width: 100%;
  }
  .content-bottom_box {
    padding-block: 1.375rem;
  }
  .content-bottom_txt {
    padding: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .content-top_box-wrapper {
    margin: -40% 8rem 0 1.25rem;
  }
  .content-top_background::before {
    top: -8rem;
  }
  .content-top_background::after {
    bottom: -2rem;
  }
}
@media screen and (max-width: 400px) {
  .content-top_box-wrapper {
    margin: -40% 6rem 0 1.25rem;
  }
  .content-top_background::before {
    top: -7rem;
  }
  .content-top_background::after {
    bottom: -3rem;
  }
}
@media screen and (max-width: 380px) {
  .content-top_background::before {
    left: 6rem;
  }
  .content-top_background::after {
    left: 4.25rem
  }
}
@media screen and (max-width: 320px) {
  .content-top_box-wrapper {
    margin: -40% 0 0 0;
    padding: 1rem;
  }
  .content-top_number {
    display: none;
  }
  .content-top_background {
    display: none;
  }
  .content-center_box {
    padding: 2rem;
  }
  .content-center_txt {
    font-size: 0.75rem;
  }
  .content-center_logo-container {
    padding-inline: 0;
  }
  .content-bottom_title-img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .content-bottom_title {
    font-size: 1.25rem;
  }
  .content-bottom_txt-img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .content-bottom_txt {
    padding: 1rem 0;
    font-size: 0.75rem;
  }
  .cbbc {
    margin: 0;
  }
}

.content-am_img-container {
  position: relative;
}

.content-am_img {
  z-index: 10;
}

.content-am_img-background::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: -5rem;
  left: 17.5rem;
  background-color: var(--color-neutral-900);
}

.content-am_background::before, .content-am_background::after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
}
.content-am_background::before {
  border: 1px solid var(--color-neutral-200);
  bottom: -3rem;
  right: 18rem;
}
.content-am_background::after {
  background-color: var(--color-neutral-000);
  opacity: 0.25;
  bottom: -7rem;
  right: 12.5rem;
}

.content-am_box {
  padding: 3rem;
  width: 70%;
  background-color: var(--color-neutral-900);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

.content-am_title {
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-font-light);
  width: fit-content;
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-font-light);
  /* text-transform: uppercase; */
}

.content-am_txt-container {
  padding-bottom: 0.125rem;
}

.content-am_txt-bold, .content-am_txt {
  font-size: 1rem;
  color: var(--color-font-light);
}
.content-am_txt-bold {
  font-weight: 600;
}
.content-am_txt {
  font-weight: 400;
  margin-left: 0.5rem;
}


@media screen and (max-width: 1720px) {
  .content-am_img-background::before {
    top: -5rem;
    left: 12.5rem;
  }
  .content-am_background::before {
    bottom: -3rem;
    right: 12rem;
  }
  .content-am_background::after {
    bottom: -6rem;
    right: 5rem;
  }
}
@media screen and (max-width: 1520px) {
  .content-am_img-background::before {
    left: 10rem;
  }
  .content-am_background::before {
    right: 10rem;
  }
  .content-am_background::after {
    right: 6rem;
  }
}
@media screen and (max-width: 1280px) {
  .content-am_img-background::before {
    left: 6rem;
  }
  .content-am_background::before {
    right: 6rem;
  }
  .content-am_background::after {
    right: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .content-am_img-wrapper {
    padding-top: 12rem;
  }
  .content-bottom_box-wrapper {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 1040px) {
  .content-am_img-wrapper {
    padding-top: 8rem;
  }
  .content-am_img-background::before {
    top: -4rem;
    left: 4rem;
  }
  .content-am_background::before {
    bottom: -3rem;
    right: 5rem;
  }
  .content-am_background::after {
    bottom: -6rem;
    right: 0;
  }
  .content-bottom_box-wrapper {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 960px) {
  .content-am_img-background, .content-am_background {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .content-am_img-wrapper {
    flex-direction: column;
  }
  .content-am_img {
    padding-bottom: 1rem;
    width: 15rem;
  }
  .content-am_box {
    margin-inline: 1.25rem;
    padding: 2rem;
    width: 100%;
  }
  .content-am_title {
    font-size: 1.5rem;
  }
  .content-am_txt, .content-am_txt-bold {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 540px) {
  .content-am_img-wrapper {
    padding-top: 6rem;
  }
  .content-am_img {
    width: 12.5rem;
  }
}


/* Home */
.index-container {
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 1fr;
}

.index-bg {
  height: 100vh;
  background-image: url(lines.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 100% 52.5%;
}

.index-left {
  border-right: 1px solid var(--color-neutral-200);
}
.index-right {
  position: relative;
  border-left: 1px solid var(--color-neutral-200);
  z-index: 50;
}

.index-main-center {
  grid-template-rows: 1fr 10rem;
}

.index-main {
  padding-inline: 5rem;
}

.index-main-content {
  flex-direction: row;
  padding-top: 5rem;
}

.index-main-content-left {
  padding-left: 2.5rem;
  width: 50%;
  height: 67.5%;
}
.index-main-content-right {
  position: relative;
  margin-bottom: 7.5rem;
  width: 50%;
}

.index-main-buttons {
  position: relative;
  flex-direction: row;
  z-index: 2;
}

.index-main-button {
  margin-left: 2.5rem;
}

.index-img-container {
  position: absolute;
}

.index-img {
  mask-image: url("/img/img-mask.svg");
  -webkit-mask-image: url("/img/img-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  object-fit: cover;
  height: 50vh;
}

.index-titles {
  width: 60%;
}

.index-main-title {
  font-size: 2.75rem;
  font-weight: 600;
  color: var(--color-font-light);
  text-transform: uppercase;
  line-height: 1;
}
.index-main-title-sm {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-neutral-100);
  text-transform: uppercase;
}

.index-line {
  position: absolute;
  width: 1px;
  height: 4rem;
  background: var(--color-neutral-200)
}

.index-content {
  padding-inline: 5rem;
}

.index-content-title-container {
  padding: 0 2.5rem 3rem 2.5rem;
  width: 80%;
}

.index-content-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--color-font-light);
  text-transform: uppercase;
}

.index-content-boxes {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.index-content-box {
  position: relative;
  border: 1px solid var(--color-neutral-200);
  height: 12.5em;
  transition: 0.3s;
}
.index-content-box:hover {
  border: 1px solid var(--color-primary);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
box-shadow: 0px 0px 10px 0px rgba(48,160,139,1);
}

.index-content-box-wrapper{
  cursor: pointer;
}

.index-content-box-img {
  width: 2rem;
  height: 2rem;
}

.index-content-box-title {
  padding-left: 0.5rem;
  color: var(--color-neutral-000);
}

.icbt-01 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.icbt-02 {
  font-size: 1.35rem;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}
.icbt-03 {
  font-size: 2rem;
  font-family: 'Silkscreen', sans-serif;
}

.index-content-box-date {
  margin-top: -4rem;
  padding: 1rem;
}

.index-content-box-date-txt {
  border: 1px solid var(--color-neutral-200);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-font-light);
}

.index-content-button-container {
  margin: 5rem 0;
}

.index-content-button {
  justify-content: center;
}

.index-center-mid {
  padding: 2rem 0 15rem 0;
}
@media screen and (max-width: 1720px) {
  .index-bg {
    background-position: 105% 55%;
  }
}
@media screen and (max-width: 1440px) {
  .cl {
    padding: 0 2.5rem 0 2.5rem;
    width: 100%;
  }
  .index-main-title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 1200px) {
  .index-main-title {
    font-size: 1.5rem;
  }
    .index-main-title-sm {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1040px) {
  .index-container {
      grid-template-columns: 0 1fr 0;
  }
  .index-bg {
      background-image: none;
  }
  .index-left {
      border-right: none;
  }
  .index-center {
      grid-template-rows: 1fr 0;
      padding-inline: 1.25rem;
  }
  .index-right {
      border-left: none;
  }
  .index-main {
      padding-inline: 0;
  }
  .index-main-content {
      flex-direction: column;
      padding-top: 0;
  }
  .index-main-content-bottom {
      display: none;
  }
  .index-main-content-left {
      padding-left: 0;
      width: 100%;
  }
  .index-main-content-right {
      margin-bottom: 0;
      width: 100%;
  }
    .index-titles {
      margin-top: 2rem;
      padding-block: 2rem;
  }
  .cl {
    padding: 0 1.25rem 10rem 1.25rem;
  }
    .index-main-title {
    font-size: 2.25rem;
  }
    .index-main-title-sm {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 540px) {
  .index-main-buttons {
      justify-content: center;
      gap: 1.25rem;
  }
  .index-main-button {
      margin-left: 0;
  }
  .index-img {
      padding-right: 1.25rem;
      mask-position: top;
      -webkit-mask-position: top;
  }
  .index-titles {
      margin-top: 2rem;
      border-bottom: 2px solid var(--color-neutral-000);
      padding-block: 2rem;
      width: 100%;
  }
  .index-main-title {
      font-size: 1.75rem;
  }
  .index-main-title-sm {
      font-size: 1.25rem;
  }
  .index-content {
      padding-inline: 1.25rem;
  }
  .index-content-title-container {
      display: flex;
      justify-content: center;
  }
  .index-content-boxes {
      grid-template-columns: 1fr;
  }
  .cl {
    padding: 0 1.25rem;
  }
}
@media screen and (max-width: 320px) {
  .index-main-buttons {
    justify-content: flex-start;
  }
  .index-content-title-container {
    padding: 2.5rem 0;
  }
  .cl {
    padding: 0;
  }
}

/* Footer */
.footer {
  margin-top: 10rem;
  padding: 3rem 5rem;
  height: 17.5rem;
  background-color: var(--color-font-light);
} 

.footer-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-logo_img {
  height: 2.5rem;
}

.footer-icons_container {
  justify-content: end;
  padding-right: 4rem;
}

.footer_item {
  padding: 0.75rem;
}

.footer_link {
  transition: 0.3s;
}
.footer_link:hover {
  opacity: 0.6;
}

.footer-icon_img {
  width: 2.5rem;
}

@media screen and (max-width: 840px) {
  .footer-icons_container {
    justify-content: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 540px) {
  .footer {
    margin-top: 5rem;
    height: 100%;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-logo_img {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .footer {
    padding: 3rem;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin-top: 0;
  }
}